:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 130px 20px;
}
h1 {
  font-family: var(--heading-font-family);
}

h1,
h2,
h3 {
  text-align: center;
  color: black;
  font-weight: bold;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

h1 {
  font-size: 96px;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  color: #272142;
  font-weight: normal;
}
.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
p {
  font-size: 16 px;
  font-weight: normal;
  color: #272142;
  line-height: 30px;
}
.btn-branding-outline {
  background: var(--secondary-color);
  border-radius: 4px;
  border-color: var(--primary-color);
  border: 1px solid;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
.about {
  padding: 100px 0px 30px 0px;
}
.about h1 {
  text-align: left;
  font-size: 64px;
  max-width: 800px;
}
.email-link {
  display: flex;
  color: black;
  font-size: 24px;
  margin-top: 30px;

  text-decoration: none;
}
.email-link:hover {
  color: var(--primary-color);
}

.email-link:hover {
  text-decoration: underline;
}
.work {
  padding-bottom: 100px;
}
.about-section {
  padding: 100px 0px 30px 0px;
}
.about-section h1 {
  text-align: left;
  font-size: 64px;
}
.about-section h2 {
  text-align: left;
  font-size: 18px;
  font-family: var(--default-font-family);
}
.about-section-content {
  margin: 20px;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  font-weight: bold;
  color: black;
  margin: 5px 0;
}
.content p {
  font-size: 14px;
  margin: 0;
}
.info p {
  font-size: 14px;
  text-align: left;
}
.info h3 {
  text-align: left;
}
.nav-item {
  padding: 0 10px;
}
.contact-box {
  background-color: var(--secondary-color);
  padding: 30px;
  margin-top: 70px;
  font-size: 16px;
  border-radius: 10px;
}
.contact-box h3 {
  font-size: 48px;
  font-weight: bold;
  color: black;
  font-family: var(--heading-font-family);
}
.social-links a {
  margin: 0 30px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
.social-links a:hover {
  color: white;
  background: var(--primary-color);
}
